{% extends "layout.html" %}

{% block content %}

	<h2>Total Sentences</h2>
	<p>There are {{totals['sentences']}} total, 
	around {{(totals['highlightedSentences']/totals['sentences'] * 100) | round | int}}% mention a place in {{highlighted_tag['label']}} 
	(that's {{totals['highlightedSentences']}} sentences).</p>
	<div id="combined-media-sentence-chart"></div>

	<hr />

	<h2>Sentence Counts per Media Source</h2>
	{% for media in media_list %} 
		<div class = "row">
			<div class = "col-md-12">
				<b><a href="{{media['url']}}">{{ media['name']}}</a></b> <small>({{media['sentenceCounts']['count']}} sentences)</small>
				<div id="media-{{media['media_id']}}-sentence-chart" class="media-sentence-chart"></div>
			</div>
		</div>
	{% endfor %}

{% endblock %}

{% block scripts %}

	<script>
	allSeries = []

	function dataDictToList(dataDict){
		dataList = []
		$.each(dataDict, function(key){
			dataList.push([Date.parse(key), dataDict[key]]);
		});
		return dataList;
	}
	function drawChart(containerId,mediaName,dataDictionary, highlightedDataDictionary){
		highlightedDataList = dataDictToList(highlightedDataDictionary);
		dataList = dataDictToList(dataDictionary);
		$('#'+containerId).highcharts({
			chart: {
				type: 'line',
				backgroundColor: '#ffffff',
				height: 100
			},
			title: {
				title: '',
				style: { display: 'none' }
			},
			xAxis: {
				type: 'datetime',
			},
			yAxis: {
				title: { text: 'sentences / week' },
				min: 0,
			},
			legend: {
				enabled: false
			},
			plotOptions: {
            	line: {
                	marker: {
	                    radius: 2,
	                    symbol: "circle"
	                }
                }
            },
			series: [
				{name: 'sentences', color: '#20B1B8', data: dataList}
				, {name: 'sentences mentioning {{highlighted_tag['label']}} ', color: '#cccccc', data: highlightedDataList}
			]
		});
		allSeries.push({name:mediaName,data:dataList});
	};
	function drawCombinedChart(){
		$('#combined-media-sentence-chart').highcharts({
			chart: {
				type: 'area',
				backgroundColor: '#ffffff',
				height: 150
			},
			title: {
				title: '',
				style: { display: 'none' }
			},
			xAxis: {
				type: 'datetime',
			},
			yAxis: {
				title: { text: 'sentences / week' },
				min: 0,
			},
			legend: {
				enabled: false
			},
			plotOptions: {
            	area: {
                	stacking: 'normal',
                	marker: {
	                    radius: 2,
	                    symbol: "circle"
	                },
	                lineWidth: 0
                }
            },
			series: allSeries
		});
	}
	$(function(){
		{% for media in media_list %} 
			drawChart(
				"media-{{media['media_id']}}-sentence-chart",
				"{{media['name']}}",
				{{media['sentenceCounts']['split']|tojson|safe}},
				{{media['highlightedSentenceCounts']['split']|tojson|safe}}
			);
		{% endfor %}
		drawCombinedChart();
	});
	</script>

{% endblock %}
